<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarPV - Home</title>
		<link rel='stylesheet' href='js-form-validation.css' type='text/css' />

    <link rel="stylesheet" href="../../static/frontend/main.css">
	<script src="form.js"></script>
</head>
<body class="page-container">
    <header class="page-header">
        <aside class="header-aside-left">
            <section class="logo-container">
                <a class="logo-link" href="index.html">
                    <img class="logo-img" src="../../static/frontend/images/solarpv-logo.jpg" alt="solarPV company logo" />
                </a>
            </section>
        </aside>
        <aside class="header-aside-right">
            <section class="header-right-list-container">
                <ul class="header-right-link-list">
                    <li class="header-right-link-list-item">
                        <a class="about-us-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="header-right-link-list-item">
                        <a class="contact-us-link" href="./contact-us.html">Contact Us</a>
                    </li>
                </ul>
            </section>
            <section class="social-media-links-container">

            </section>
        </aside>
        <nav class="main-navigation">
            <ul class="main-navigation-list">
                <li class="main-nav-list-item">
                    <a class="main-nav-list-link" href="">Racks & Trackers</a>
                </li>
                <li class="main-nav-list-item">
                    <a class="main-nav-list-link" href="">PV Module</a>
                </li>
                <li class="main-nav-list-item">
                    <a class="main-nav-list-link" href="">PV Systems</a>
                </li>
                <li class="main-nav-list-item">
                    <a class="main-nav-list-link" href="">Data Analytics</a>
                </li>
                <li class="main-nav-list-item">
                    <a class="main-nav-list-link" href="">Cybersecurity</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <aside class="main-content-left">
            <p class="main-left-nav">
            <a class="main-left-nav-link"><h3><a href="contact.html">Register</a> | <a href="admin:index.html">Login</a></h3> <a/>
            </p>
            <section class="main-left-lists-container">
                <article class="main-left-nav-module">
                    <h2 class="nav-module-header">PV Module</h2>
                    <ul class="nav-module-list">
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="search.html">Testing & Certification</a>
                        </li>
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">PV Rating</a>
                        </li>
                    </ul>
                </article>
                <article class="main-left-nav-module">
                    <h2 class="nav-module-header">PV System Performance</h2>
                    <ul class="nav-module-list">
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Monitoring & Inspection</a>
                        </li>
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Performance Analysis</a>
                        </li>
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Compare System</a>
                        </li>
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Certification</a>
                        </li>
                    </ul>
                </article>
                
            </section>
        </aside>
        <section class="main-content-center">
            <p class="feature-content">Solar is the Future</p>
			<div class="slideshow-container">
				<div class="mySlides fade">	
					<div class="numbertext">1 / 3</div>
					<iframe width="100%" height="300"
						src="https://www.youtube.com/embed/0elhIcPVtKE">
					</iframe>

				</div>
				<div class="mySlides fade">
					<div class="numbertext">2 / 3</div>
					<iframe width="100%" height="300"
						src="https://www.youtube.com/embed/JtvGljl_21g">
					</iframe>
				</div>
				<div class="mySlides fade">
					<div class="numbertext">3 / 3</div>
					<iframe width="100%" height="300"
						src="https://www.youtube.com/embed/JwRTpWZReJk">
					</iframe>
					</div>
				
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
        </section>
		<aside class="right">
            
                <article class="main-left-nav-module">
                    <h2 class="nav-module-header">Data Analytics</h2>
                    <ul class="nav-module-list">
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Module Lifetime Prediction</a>
                        </li>
                        <li class="nav-module-list-item">
                            <a class="nav-module-list-link" href="">Energy Prediction</a>
                        </li>
                    </ul>
                </article>
                <article class="main-left-nav-module">
                    <h2 class="nav-module-header">Cybersecurity and Smart Grid Technologies</h2>
                </article>
                <article class="main-left-nav-module">
                    <h2 class="nav-module-header">Solar PV University</h2>
                </article>
            </section>
        </aside>
        <aside class="main-content-right">
            <h2 class="main-right-header">Solar Power World</h2>
            <section class="main-right-links-container">
                <ul class="main-right-links-list">
                    <li class="right-links-list-item">
                        <a class="main-right-link" href="">Clearloop begins construction on utility-scale Tennessee solar project funded by small companies</a>
                    </li>
                    <li class="right-links-list-item">
                        <a class="main-right-link" href="">Quanta Services plans acquisition of national renewables EPC Blattner</a>
                    </li>
                    <li class="right-links-list-item">
                        <a class="main-right-link" href="">CALSSA sets fundraising goal of $1 million in September to defend net metering</a>
                    </li>
                    <li class="right-links-list-item">
                        <a class="main-right-link" href="">Illinois Senate passes omnibus energy bill that could make the state a renewable energy leadera>
                    </li>
                </ul>
            </section>
        </aside>
		<button onclick="getLocation()">Share Location</button>
		<p id="demo"></p>
		<script>
			var x = document.getElementById("demo");

			function getLocation() {
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			} else { 
					x.innerHTML = "Geolocation is not supported by this browser.";
					}
			}

			function showPosition(position) {
				x.innerHTML = "Latitude: " + position.coords.latitude + 
				"<br>Longitude: " + position.coords.longitude;
			}
</script>
    </main>

    <footer class="page-footer">
        <section class="footer-logo-container">
            <a class="footer-logo-link" href="index.html">
                <img class="footer-logo-img" src="../../static/frontend/images/solarpv-logo.svg" alt="solarPV company logo" />
            </a>
        </section>
        <section class="footer-container">
            <p class="footer-sub-section company-info">
                Address, Phone, Email, Website
            </p>
            <p class="footer-sub-section copyright-container">
                @ 2019 All Rights Reserved
            </p>
        </section>
        <ul class="footer-nav-list">
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Site Map</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Terms & Conditions</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Privacy Policy</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">About Us</a>
            </li>
        </ul>
		
         
        <script>
            function allowDrop(ev) {
                ev.preventDefault();
            }
             
            function dragStart(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }
             
            function dragDrop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
            }
        </script>
         
       
		<p> these boxes represent our resources for power. Blue for water, grey for fossil fuel, and yellow is for solar.</p>
        <p> these boxes can be draged and droped on one another to show how much we are currently dependent on fossil fuels.</p>
		<div id = "box">
            <div id="box1" draggable="true"ondragstart="dragStart(event)" ondrop="dragDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="box2" draggable="true"ondragstart="dragStart(event)"ondrop="dragDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="box3" draggable="true"ondragstart="dragStart(event)" ondrop="dragDrop(event)" ondragover="allowDrop(event)"></div>
			
        </div>
                         
    </footer>
</body>
</html>